<h1 class="text-center m-5">
  Handlebars
</h1>
<div class="container my-5 d-flex justify-content-center ">
  <form action="/api/productos" method="post" class="col-6 bg-dark p-3 rounded">
    <div class="form mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Nombre del producto"
        name="title"
      />
    
    </div>
    <div class="form mb-3">
      <input
        type="number"
        class="form-control"
        id="floatingPassword"
        placeholder="Precio del producto"
        name="price"
      />
      
    </div>
    <div class="form mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Direccion de la foto del producto"
        name="thumbnail"
      />
   
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
    <a href="/api/productos" class="align-self-center">
    <button class="btn btn-secondary my-5" type="button">Ir a productos</button>
  </a>
  </form>
  
</div>